.cart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60vw;
    max-width: 500px;
    min-width: 100px;
    color: white;
}

.closed{
    display: none;
}

.cart-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
}

.item{
    color: white;
}

.total-amount{
    display: flex;
    align-items: center;
}
.total{
    margin-bottom: 10px;
}

.total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
    align-items: center;
}
.total-amount{
    text-decoration: underline;
    color: white;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    visibility: visible;
}

.total-closed{
    visibility: hidden;
}