.cart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60vw;
    max-width: 500px;
    min-width: 100px;
    color: white;
}

.closed{
    display: none;
}

.cart-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
}

.item{
    color: white;
}

.total{
    margin-bottom: 10px;
    color: white;
    margin: 0px;
}

.total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.subtotal{
    margin: 0px;
    font-size: 20px;
}
.total-title{
    text-decoration: underline;
    color: white;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    visibility: visible;
}


.closed1, .closed2{
    font-size: 12px;
}

.closed1{
    text-decoration: underline;
    color: white;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    margin-top: 15px;
}

.closed2{
    margin-top: 0px;
}