.content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
}

.links h6{
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}